@media screen and (max-height: 700px) {
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 645px;
  }
}
@media screen and (min-height: 700px) {
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 1080px;
  }
}

.Header {
  flex: 1;
  font-size: 25px;
  font-weight: bold;
  color: rgb(50, 50, 175);
}

.Create-Job {
  flex: 2;
  background-color: green;
}

.Filter-Job {
  flex: 2;
  background-color: purple;
}

.Job {
  flex: 7;
  background-color: red;
}
