.Container-Job {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 227, 235);
    margin: 5px;
}

.Job-Name-Job {
    flex: 5;
    margin-left: 5px;
}

.Job-Name-Job>p {
    word-break: break-all;
}

.Job-Priority-Job {
    flex: 3;
    margin-left: 20px;
    align-self: center;
}

.Priority-Urgent {
    color: white;
    background-color: red;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}

.Priority-Regular {
    color: white;
    background-color: orange;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}

.Priority-Trivial {
    color: white;
    background-color: rgb(75, 75, 216);
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}

.Job-Edit {
    flex: 2;
    align-self: center;
}

.Job-Delete {
    flex: 2;
    align-self: center;
}

.Button-Job-Edit {
    cursor: pointer;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}

.Button-Job-Delete {
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    text-align: center;
}

.Modal-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Modal-Header>h3 {
    font-weight: bold;
    flex: 6;
    margin: 0;
}

.Modal-Header>button {
    height: 25px;
    width: 25px;
    align-items: center;
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}



.Modal-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Modal-Container-JobName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Modal-Container-JobName>h5 {
    color: black;
    margin: 25px 0px 5px 0px;
}

.Modal-Container-JobName>input {
    height: 15px;
}

.Modal-Container-Priority {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Modal-Container-Priority>h5 {
    color: black;
    margin: 25px 0px 5px 0px;
}

.Modal-Container-Priority>select {
    height: 25px;
}


.Modal-Submit-Button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0 0 0;
}

.Modal-Submit-Button>#approve {
    cursor: pointer;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 25px;
}

.Modal-Submit-Button>#reject {
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 25px;
    margin-left: 64%;
}